body {
    font: 1.2em / 1.5 sans-serif;
}

.controller {
    display: grid;
    justify-items: center;
}

input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

input[type="radio"]:focus-visible + label {
    background-color: #ccc;
}

label {
    cursor: pointer;
    padding: 4px 8px;
    margin: 3px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background 0.3s;
}

label:hover {
    background: #ddd;
}

#stable:checked ~ label[for="stable"], 
#fever:checked ~ label[for=fever],
#mutation:checked ~ label[for=mutation],
#paralyzed:checked ~ label[for=paralyzed],
#focus-mode:checked ~ label[for=focus-mode] {
    background: #ccc;
    font-weight: bold;
}


/* ------------------------------------- */
/* General animations */

.left-eye, .right-eye {
    animation: blinkingEyes 4s infinite;
}

@keyframes blinkingEyes {
    0%, 3% {
        transform: scaleY(1);
    }
    2% {
        transform: scaleY(0);
    }
}

.eyeball {
    animation: animationEyeball 20s infinite
}

@keyframes animationEyeball {
    0%, 10%, 30%, 70%, 90% {
        transform: translate(0%);
    }
    20% {
        transform: translate(50%);
    }
    25% {
        transform: translate(50%, -40%);
    }
    80% {
        transform: translate(-50%);
    }
    85% {
        transform: translate(-50%, -40%);
    }
}

.main-part {
    animation: breathing 3s infinite;
}

@keyframes breathing {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.02);
    }
}


/* ------------------------------------- */
/* Creature */

.creature {
    width: 300px;
    height: 180px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding-top: 25px;
    background-color: black;
    border-radius: 7px;
    background-color: greenyellow;
}

.left-paw, .right-paw {
    width: 33px;
    height: 180px;
    background-color: green;
}

.left-paw {
    transform: rotate(0.02turn);
    border-radius: 15px 0 3px 3px;
}

.right-paw {
    transform: rotate(-0.02turn);
    border-radius: 0 15px 3px 3px;
}

.main-part {
    display: grid;
    width: 150px;
    height: 150px;
    border-radius: 3px 3px 5px 5px;
    background-color: green;
}

.eyes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.eyeball {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.left-eye, .right-eye {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 24px;
    border: 0.1px solid rgb(1, 83, 1);
    border-radius: 15px 15px 21px 21px;
    background-color: #fff;
}

.mouth-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mouth {
    width: 60px;
    height: 6px;
    border: 0.1px solid rgb(1, 83, 1);
    border-radius: 1px 1px 5px 5px;
    background-color: #fff;
}


/* ------------------------------------- */
/* Transitions */

.creature, .creature * {
    transition: all 1.5s ease;
}

/* ------------------------------------- */
/* States start */

.state {
    font-size: 1.2rem;
    margin-top: 10px;
    display: none;
}

#stable:checked ~ .diagnosis .state-stable,
#fever:checked ~ .diagnosis .state-fever,
#mutation:checked ~ .diagnosis .state-mutation,
#paralyzed:checked ~ .diagnosis .state-paralyzed,
#focus-mode:checked ~ .diagnosis .state-focus-mode {
    display: block;
}

/* ------------------------------------- */
/* Stable */

#stable:checked ~ .creature {
    background-color: greenyellow;
}

#stable:checked ~ .creature .left-paw {
    transform: rotate(0.04turn);
}

#stable:checked ~ .creature .right-paw {
    transform: rotate(-0.04turn);
}

#stable:checked ~ .creature .left-eye {
    border-radius: 12px 12px 9px 9px;
}

#stable:checked ~ .creature .right-eye {
    border-radius: 12px 12px 9px 9px;
}

#stable:checked ~ .creature .eyeball {
    width: 15px;
}

#stable:checked ~ .creature .mouth {
    width: 45px;
    height: 10px;
}


/* ------------------------------------- */
/* Fever */

#fever:checked ~ .creature {
    background-color: rgb(255, 196, 0);
}

#fever:checked ~ .creature .main-part {
    background-color: rgb(255, 37, 8);
}

#fever:checked ~ .creature .left-paw {
    background-color: rgb(255, 37, 8);
}

#fever:checked ~ .creature .right-paw {
    background-color: rgb(255, 37, 8);
}

#fever:checked ~ .creature .left-eye {
    background-color: rgb(255, 174, 0);
    border-radius: 15px 15px 10px 10px;
}

#fever:checked ~ .creature .right-eye {
    background-color: rgb(255, 174, 0);
    border-radius: 21px 21px 15px 15px;
}

#fever:checked ~ .creature .mouth {
    background-color: rgb(255, 136, 0);
    width: 21px;
    height: 37px;
    border-radius: 6px 6px 3px 3px;
}

#fever:checked ~ .creature .eyeball {
    animation: desperateEyes 1s infinite;
}

@keyframes desperateEyes {
    0%, 100% {
        transform: translate(-5%, -40%);
    }
    50% {
        transform: translate(5%, -40%);
    }
}


/* ------------------------------------- */
/* Mutation */

#mutation:checked ~ .creature {
    background-color: brown;
}

#mutation:checked ~ .creature .left-eye {
    width: 25px;
    height: 9px;
}

#mutation:checked ~ .creature .right-eye {
    height: 75px;
}

#mutation:checked ~ .creature .mouth {
    width: 21px;
}

#mutation:checked ~ .creature .left-paw {
    width: 75px;
    height: 300px;
}


/* ------------------------------------- */
/* Paralyzed */

#paralyzed:checked ~ .creature {
    background-color: #000;
}

#paralyzed:checked ~ .creature .right-eye {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

#paralyzed:checked ~ .creature .left-eye {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

#paralyzed:checked ~ .creature .eyeball {
    width: 7px;
    height: 7px;
    animation: none;
}

#paralyzed:checked ~ .creature .mouth {
    width: 15px;
    height: 30px;
    border-radius: 6px;
}


/* ------------------------------------- */
/* Focus mode */

#focus-mode:checked ~ .creature {
    background-color: rgb(72, 255, 0);
}

#focus-mode:checked ~ .creature .left-eye {
    border-radius: 50%;
}

#focus-mode:checked ~ .creature .right-eye {
    border-radius: 50%;
}

#focus-mode:checked ~ .creature .eyeball {
    width: 9px;
    height: 8px;
    animation: none;
}

#focus-mode:checked ~ .creature .mouth {
    height: 4px;
    border-radius: 3px;
}

/* ------------------------------------- */

/* States end */
/* ------------------------------------- */